<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Thymeleaf Demo</title>
</head>
<body>
   <h1 th:text="'Hello, ' + ${name}"></h1>

   <!-- If / Else -->
   <p th:if="${isLoggedIn}">Welcome Back!</p>
   <p th:unless="${isLoggedIn}">Please login.</p>

   <!-- Loop -->
   <ul>
     <li th:each="fruit : ${fruits}" th:text="${fruit}">Fruit</li>
   </ul>

   <!-- Switch -->
   <div th:switch="${role}">
      <p th:case="'ADMIN'">You have Admin access</p>
      <p th:case="'USER'">You have User access</p>
      <p th:case="*">Guest</p>
   </div>

   <!-- Utility -->
   <p th:text="${#strings.toUpperCase(name)}"></p>
</body>
</html>
